@tailwind base;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }

  strong,
  b {
    @apply font-medium;
  }
}

@tailwind components;

@layer components {
  .container {
    @apply mx-auto;
    max-width: 90rem;
  }

  .carousel {
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: column;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .carousel > * {
    scroll-snap-align: start;
  }

  .line-clamp > p {
    --lines: 4;

    display: -webkit-box;
    -webkit-box-orient: vertical;

    -webkit-line-clamp: var(--lines);
    overflow: hidden;
  }

  .pill {
    height: 3.75rem;
  }
}

@tailwind utilities;
