@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }

  strong,
  b {
    @apply font-medium;
  }

  @font-face {
    font-family: Visuelt;
    font-weight: 300;
    font-display: optional;
    font-style: normal;
    src: url("/fonts/visuelt-light.woff2") format("woff2");
  }

  @font-face {
    font-family: Visuelt;
    font-weight: 500;
    font-display: optional;
    font-style: normal;
    src: url("/fonts/visuelt-medium.woff2") format("woff2");
  }
}

@layer components {
  .container {
    @apply mx-auto;
    max-width: 90rem;
  }

  .container-md {
    @apply mx-auto;
    max-width: 68rem;
  }

  .carousel {
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: column;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    overflow-y: visible;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

  .carousel > * {
    scroll-snap-align: start;
  }

  .line-clamp > p {
    --lines: 4;

    display: -webkit-box;
    -webkit-box-orient: vertical;

    -webkit-line-clamp: var(--lines);
    overflow: hidden;
  }

  .pill-large {
    height: 2.75rem;
  }
  .pill-medium {
    height: 2.5rem;
  }
  .pill-small {
    height: 2.125rem;
  }
  @screen sm {
    .pill-large {
      height: 3.75rem;
    }
    .pill-medium {
      height: 3.125rem;
    }
    .pill-small {
      height: 2.5rem;
    }
  }

  .pill-input {
    @apply px-6 pt-4 pb-3 w-full rounded-full border-2 border-black bg-white shadow-pill-black text-small sm:text-base text-black font-light focus:outline-none outline-none focus:border-black focus:ring-0;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
